<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
</head>


<body class="body">

<h1>Edit Your Book Entry Here</h1>

    <div class="edit_form"> 
        <form action="/books/<%= @book.id %>" method="post">
            <input type="hidden" name="_method" value="patch">  
                
            
            
            
            
            <p>title: <input type="text" name="title" value="<%= @book.title %>"></br></p>
                    <p>author: <input type="text" name="author" value="<%= @book.author %>"></br></p>
                    <p>number of pages: <input type="text" name="number_of_pages" value="<%= @book.number_of_pages %>"></br></br></p>
                <p>book review: <textarea name="book_review"><%= @book.book_review %></textarea></br></br></p>
            <p><input type="submit" value="Edit Book"></p>
        </form>
    </div>

    <div class="delete_book_button">
        <form action="/books/<%= @book.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <p><input type="submit" value="Delete Book"></p>
        </form>
    </div>

</body