<!DOCTYPE html>
<html lang="en">


<head>


</head


<body>
    <div>
        <p>Title:  <%= @book.title %></br></p>
                <p>Author:  <%= @book.author %></br></p>
                    <p>Genre:  <%= @book.book_genre %></br></p>
                <p>Number of pages:  <%= @book.number_of_pages %></br></br></p>
            <p>Book Review:  <%= @book.book_review %></p>
        <p><a href="/books/<%= @book.id %>/edit"></br></br>Edit Book Info</a></p>
    </div>

    <form action="/books/<%= @book.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <p><input type="submit" value="Delete Book"></p>
    </form>

</body>